{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    There are two agents in the game: the sender and receiver.

    The sender will receive an endowment of 100 points. He can decide how much he will distribute to the receiver.

    The receiver can then accept or reject the offer made by the sender. If the receiver rejects, both counterparties will get zero points.



    {% next_button %}

{% endblock %}
